<script src="lightbox.js"></script>
<link rel="stylesheet" type="text/css" href="lightbox.css">

<div class="wrapper">


  <div class="leftbanner">
    <h2>Welcome!</h2>
    <h3><%= @user.fname %> <%= @user.lname %></h3>
    <h4><%= @user.username %></h4><br>
    <h5><a href="/logout">Log Out</a></h5>
  </div>


<div class="container">
  <h1>your places</h1>
    <% @pics.each do |pic| %>

          <center>
      <figure>
      <a href=<%=pic.image_url%> data-lightbox="example-set"><img src= <%= pic.image_url %> width="400px"></a>

        <figcaption id="title"><strong><%= pic.artist %></strong>, <%= pic.title %></figcaption>
        <figcaption><%= pic.description %></figcaption>
        <figcaption><%= pic.neighborhood %>, <%= pic.citystate %></figcaption><br>
      </center>
      </figure>
    <% end %> 
    </div>
  </div>
</div>
